header{

	
	
}

body {


	background-color: #ffffff;

}

.body {

	width: 960px;

	position: relative;


	margin-left: auto;
	margin-right: auto;

}

.bgName {

	position: absolute;
	background-color: #4aaaa5;

	height: 90px;
	width: 250px;



}

.name {

	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 2em;
	font-weight: bold;

	text-align: center;
	vertical-align: middle;
	line-height: 90px;    
	
	color: #ffffff ;

}

.directory {

	float: right;
	vertical-align: middle;
	line-height: 90px;

}

.cell {

	padding: 17.5px;

}


.dlink{

	text-decoration: none;

	font-size: 1.5em;	

	color: #777777;

}


footer {

	text-align: center;

	width: 100%;

	margin-left: auto;
	margin-right: auto;

}